@import "../commonclasses";

* {
  box-sizing: border-box;
}

body {
  min-width: $mqminwidth;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-family: $primary-font;
  background-color: $bg-box-color;
  color: $text-color;
  min-width: $mqminwidth; // DEV, BORRAR AL FINAL
  max-width: $mqminwidth; // DEV, BORRAR AL FINAL
}

.header-bg {
  background-color: $main-color;
  margin: -20px -20px 0px -20px;
  padding: 10px 20px;
  color: $text-secondary-color
}

.box__header {
  @extend .header-bg;

  &--no-margin{
    margin-top: 0px;
  }
}

p, li {
  line-height: 26px;
}

.link {
  text-decoration:none;

  &:link {
    color: $secondary-color
  }

  &:visited {
    color: $secondary-color
  }

  i {
    &:hover {
      transform: scale(1.5);
      transition-duration: 2s;
      color: $main-color;
    }
  }
}

.box {
  border: 1px solid;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
  background-color: $bg-color;
  box-shadow: 5px 6px 5px -3px rgba(0,0,0,0.3);

  &-presentation {
 
    h2 {
      line-height: 15px;
    }
  
    i {
      @extend .ML-10;
      @extend .MR-10;
      font-size: 30px;
    }
  
    &__photo {
      @extend .header-bg;
      background-color: $main-color;
    }
  }
  
  &-experiences {
  
    &__job {
      margin-bottom:60px;
  
      &-header{
        line-height: 20px;
        margin-top:5px;
      }
      &-title {
        font-weight:bolder;
        margin-bottom: 10px;
      }
      &-company {
        margin: 0px
      }
      &-date {
        margin-top: 10px
      }
  
      &:last-child {
        margin-bottom:0px;
      }
    }
  }
  
  &-studies {
    &__study {
      margin-bottom:35px;
      line-height: 25px;
      margin-top:5px;

      &:last-child {
        margin-bottom:0px;
      }
    }

    &__cours {
      font-weight:bolder;
      margin-bottom: 5px;
    }

    &__institution {
      font-weight:normal;
      margin: 0px
    }

    &__date {
      font-weight:normal;
      margin-top: 5px
    }


  }
  
  &-skills {
    &__skill-group-legend {
      font-weight: bold;
    }

    &__skill {
      display:flex;
      flex-direction: column;

      &-progress-bar::-moz-progress-bar {
         background: $secondary-color; 
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }

      &-progress-bar::webkit-progress-value {
        background:red;
        border-radius: 20px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      }
    }
  }

  &-others {
  }
  


}


  // @media (min-width: $mqminwidth) {
  //   max-width: 350px;
  // }

