@use "sass:color";

$primary-font: -apple-system, blinkmacsystemfont, "segoe ui", roboto,
  "helvetica neue", arial, sans-serif, "apple color emoji", "segoe ui emoji",
  "segoe ui symbol";
$secondary-font: "georgia", "times new roman", serif;

$bg-color: #f0f0f0;
$bg-secondary-color: #ffffff;
$text-color: #3a3a3a;
$main-color: #525252;
$secondary-color: #00bdd6;
$third-color: color.complement($secondary-color);

$mqminwidth: 420px;
$mqmaxwidth: 1920px;
$tablet-width: 768px;
